db-password reDEMPTION100 perfectprecious2022-username

mongodb+srv://perfectprecious2022:reDEMPTION100@cluster0.epjyvxn.mongodb.net/?

node_modules

mongodb+srv://perfectprecious2022:reDEMPTION100@cluster0.epjyvxn.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0